@model Microsoft.AspNetCore.Identity.IdentityUser

<h1 class="bg-info text-white">Crear usuario</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PasswordHash"></label>
        <input asp-for="PasswordHash" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Rol</label>
        <select id="rol" name="rol" class="form-control" asp-items="ViewBag.Roles"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Departamento</label>
        <select id="rol" name="departamento" class="form-control" asp-items="ViewBag.Departamentos"></select>
    </div>
    <button type="submit" class="btn btn-primary">Crear usuario</button>
</form>
<div>
    <a asp-action="Index">Volver</a>
</div>