@{
    ViewData["Title"] = "Home Page";
}

<div class="container-index">
    <img src="~/img/Business.jpg" style="opacity: .8; width:100%">
    <div class="centered-index">

        <img src="~/img/propospad-2.png" alt="AdminLTE Logo" style="width:20%;" class="brand-image img-circle elevation-3">
        <p style="color:white; opacity:1">Bienvenido a Propospad </p>
    </div>
</div>
