@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminación de Usuario</h1>
<hr />

<section class="content">
    <div class="container-index">
        <img src="~/img/Business.jpg" style="opacity: .8; width:100%">
        <div class="container-fluid2">

            <!-- SECTION TITLE  -->
            <div class="card col-md-6">

                <div class="card-body p-0" style="overflow-x:auto;">
                    <br />
                    <table class="table table-striped projects">
                        <tbody>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <td>@Html.DisplayFor(model => model.Email)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                    </form>
                </div>
            </div>
            <!-- /.card -->
            <div class="form-group">

            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
</section>
<br />
<section class="content">
    <div class="container-fluid">

        <div>
            <a asp-action="Index">Volver</a>
        </div>
    </div>
</section>
