@using Microsoft.AspNetCore.Identity
@model Microsoft.AspNetCore.Identity.IdentityUser
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="bg-info text-white">Editar Usuario</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    @{
        var user = await UserManager.GetUserAsync(User);
        if (Model.Id == user.Id)
        {
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" />
            </div>
        }
    }

    <div class="form-group">
        <label class="control-label">Rol</label>
        <select id="rol" name="rol" class="form-control" asp-items="ViewBag.Roles"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Departamento</label>
        <select id="rol" name="departamento" class="form-control" asp-items="ViewBag.Departamentos"></select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</form>