Solution.DAL.Repository/obj/Debug/netcoreapp3.1/
FrontEnd/.vs/FrontEnd/v16/.suo
Solution/.vs/Solution/v16/.suo
*.cache
*.json
*.dll
*.exe
*.pdb

Solution/obj/Debug*
Solution.API_W/obj/Debug/*
Solution.BS/obj/Debug/*
Solution.DAL.EF/obj/Debug/*
Solution.DAL.Repository/obj/Debug/*
Solution.DO/obj/Debug/*
Solution.DAL/obj/Debug/*
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.Views.pdb
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.Views.dll
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.StaticWebAssets.xml
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.runtimeconfig.dev.json
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.pdb
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.exe
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.dll
FrontEnd/.vs/FrontEnd/v16/.suo
FrontEnd/.vs/FrontEnd/DesignTimeBuild/.dtbcache.v2
FrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
FrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Update.cshtml.g.cs
FrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Create.cshtml.g.cs
FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.Views.pdb
FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.Views.dll
FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.pdb
FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.dll
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.Views.pdb
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.Views.dll
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.pdb
FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.dll
FrontEnd/.vs/FrontEnd/v16/.suo
FrontEnd/.vs/FrontEnd/DesignTimeBuild/.dtbcache.v2
