@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "PasswordReset";
}

<h1>Cambiar Contraseña</h1>

<section class="content">
    <div class="container-index">
        <img src="~/img/Business.jpg" style="opacity: .8; width:100%">
        <div class="container-fluid2">


            <!-- SECTION TITLE  -->
            <div class="card card-default col-md-6">

                <!-- /.card-header -->

                <div class="card-body">
                    <form asp-action="PasswordReset">
                        <div class="row">
                            <div class="col-md-12">


                                <div asp-validation-summary="All" class="text-danger"></div>

                                <form asp-action="Update" method="post">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" value="@ViewBag.Id" hidden />
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Ingrese su contraseña nueva</label>
                                        <input type="password" name="passwordNuevo" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Confirme la contraseña</label>
                                        <input type="password" name="passwordConfirmar" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </form>



                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-default -->
        </div>
        <!-- /.container-fluid -->
    </div>
</section>
<!-- /.content -->
<br />
<section class="content">
    <div class="container-fluid">

        <div>
            <a asp-action="Index">Volver a Usuarios</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



