@model IEnumerable<FrontEnd.API.Models.Noticia>

@{
    ViewData["Title"] = "Index";
}
<h1>Listado de noticias</h1>
<hr />
<!-- Main content -->
<section class="content">
    <div class="container-index">
        <img src="~/img/Business.jpg" style="opacity: .8; width:100%; height:100%">
        <div class="container-fluid2">
            <!-- Default box -->
            <div class="card" style="height:70%">
                <div class="card-body p-0 container-fluid3">
                    
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th>
                                    Noticias
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->
