@model FrontEnd.API.Models.Propuesta

@{
    ViewData["Title"] = "Crear Propuesta";
}

<h1>Formulario nueva propuesta</h1>
<hr />

<!-- Main content -->
<section class="content">
    <div class="container-index">
        <img src="~/img/Business.jpg" style="opacity: .8; width:100%">
        <div class="container-fluid2">


            <!-- SECTION TITLE  -->
            <div class="card card-default">


                <div class="card-body">
                    <form asp-action="Proponer">
                        <div class="row">
                            <div class="col-md-6">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label>T&iacute;tulo</label>
                                    <input asp-for="Titulo" class="form-control" />
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Descripci&oacute;n</label>
                                    <input asp-for="Descripcion" class="form-control" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Problema" class="control-label"></label>
                                    <input asp-for="Problema" class="form-control" />
                                    <span asp-validation-for="Problema" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>ID Usuario</label>
                                    <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                                </div>
                                <br />
 
                            </div>
                            <!-- /.col -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fecha Publicaci&oacute;n</label>
                                    <input asp-for="FechaPublicacion" class="form-control" />
                                    <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Fecha Finalizaci&oacute;n</label>
                                    <input asp-for="FechaFinalizacion" class="form-control" />
                                    <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label>Resultado Esperado</label>
                                    <input asp-for="ResultadoEsperado" class="form-control" />
                                    <span asp-validation-for="ResultadoEsperado" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Riesgos" class="control-label"></label>
                                    <input asp-for="Riesgos" class="form-control" />
                                    <span asp-validation-for="Riesgos" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Beneficios" class="control-label"></label>
                                    <input asp-for="Beneficios" class="form-control" />
                                    <span asp-validation-for="Beneficios" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" value="Crear propuesta" class="btn btn-primary" />
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.container-fluid -->
    </div>
</section>
<!-- /.content -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
