@model FrontEnd.API.Models.PropuestaDepartamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminación Propuesta Departamento</h1>
<hr />
<div>
    <h4>PropuestaDepartamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Propuesta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Propuesta.Beneficios)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PropuestaDepartamentoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
